/* letter-spacing utilities */
.tracking--0-2em { letter-spacing: -0.2em; }
.tracking--0-19em { letter-spacing: -0.19em; }
.tracking--0-18em { letter-spacing: -0.18em; }
.tracking--0-17em { letter-spacing: -0.17em; }
.tracking--0-16em { letter-spacing: -0.16em; }
.tracking--0-15em { letter-spacing: -0.15em; }
.tracking--0-14em { letter-spacing: -0.14em; }
.tracking--0-13em { letter-spacing: -0.13em; }
.tracking--0-12em { letter-spacing: -0.12em; }
.tracking--0-11em { letter-spacing: -0.11em; }
.tracking--0-1em { letter-spacing: -0.1em; }
.tracking--0-09em { letter-spacing: -0.09em; }
.tracking--0-08em { letter-spacing: -0.08em; }
.tracking--0-07em { letter-spacing: -0.07em; }
.tracking--0-06em { letter-spacing: -0.06em; }
.tracking--0-05em { letter-spacing: -0.05em; }
.tracking--0-04em { letter-spacing: -0.04em; }
.tracking--0-03em { letter-spacing: -0.03em; }
.tracking--0-02em { letter-spacing: -0.02em; }
.tracking--0-01em { letter-spacing: -0.01em; }
.tracking-0-0em { letter-spacing: 0.0em; }
.tracking-0-01em { letter-spacing: 0.01em; }
.tracking-0-02em { letter-spacing: 0.02em; }
.tracking-0-03em { letter-spacing: 0.03em; }
.tracking-0-04em { letter-spacing: 0.04em; }
.tracking-0-05em { letter-spacing: 0.05em; }
.tracking-0-06em { letter-spacing: 0.06em; }
.tracking-0-07em { letter-spacing: 0.07em; }
.tracking-0-08em { letter-spacing: 0.08em; }
.tracking-0-09em { letter-spacing: 0.09em; }
.tracking-0-1em { letter-spacing: 0.1em; }
.tracking-0-11em { letter-spacing: 0.11em; }
.tracking-0-12em { letter-spacing: 0.12em; }
.tracking-0-13em { letter-spacing: 0.13em; }
.tracking-0-14em { letter-spacing: 0.14em; }
.tracking-0-15em { letter-spacing: 0.15em; }
.tracking-0-16em { letter-spacing: 0.16em; }
.tracking-0-17em { letter-spacing: 0.17em; }
.tracking-0-18em { letter-spacing: 0.18em; }
.tracking-0-19em { letter-spacing: 0.19em; }
.tracking-0-2em { letter-spacing: 0.2em; }
.tracking-0-21em { letter-spacing: 0.21em; }
.tracking-0-22em { letter-spacing: 0.22em; }
.tracking-0-23em { letter-spacing: 0.23em; }
.tracking-0-24em { letter-spacing: 0.24em; }
.tracking-0-25em { letter-spacing: 0.25em; }
.tracking-0-26em { letter-spacing: 0.26em; }
.tracking-0-27em { letter-spacing: 0.27em; }
.tracking-0-28em { letter-spacing: 0.28em; }
.tracking-0-29em { letter-spacing: 0.29em; }
.tracking-0-3em { letter-spacing: 0.3em; }
.tracking-0-31em { letter-spacing: 0.31em; }
.tracking-0-32em { letter-spacing: 0.32em; }
.tracking-0-33em { letter-spacing: 0.33em; }
.tracking-0-34em { letter-spacing: 0.34em; }
.tracking-0-35em { letter-spacing: 0.35em; }
.tracking-0-36em { letter-spacing: 0.36em; }
.tracking-0-37em { letter-spacing: 0.37em; }
.tracking-0-38em { letter-spacing: 0.38em; }
.tracking-0-39em { letter-spacing: 0.39em; }
.tracking-0-4em { letter-spacing: 0.4em; }
.tracking-0-41em { letter-spacing: 0.41em; }
.tracking-0-42em { letter-spacing: 0.42em; }
.tracking-0-43em { letter-spacing: 0.43em; }
.tracking-0-44em { letter-spacing: 0.44em; }
.tracking-0-45em { letter-spacing: 0.45em; }
.tracking-0-46em { letter-spacing: 0.46em; }
.tracking-0-47em { letter-spacing: 0.47em; }
.tracking-0-48em { letter-spacing: 0.48em; }
.tracking-0-49em { letter-spacing: 0.49em; }
.tracking-0-5em { letter-spacing: 0.5em; }
.tracking-0-51em { letter-spacing: 0.51em; }
.tracking-0-52em { letter-spacing: 0.52em; }
.tracking-0-53em { letter-spacing: 0.53em; }
.tracking-0-54em { letter-spacing: 0.54em; }
.tracking-0-55em { letter-spacing: 0.55em; }
.tracking-0-56em { letter-spacing: 0.56em; }
.tracking-0-57em { letter-spacing: 0.57em; }
.tracking-0-58em { letter-spacing: 0.58em; }
.tracking-0-59em { letter-spacing: 0.59em; }
.tracking-0-6em { letter-spacing: 0.6em; }
.tracking--4px { letter-spacing: -4px; }
.tracking--3px { letter-spacing: -3px; }
.tracking--2px { letter-spacing: -2px; }
.tracking--1px { letter-spacing: -1px; }
.tracking-0px { letter-spacing: 0px; }
.tracking-1px { letter-spacing: 1px; }
.tracking-2px { letter-spacing: 2px; }
.tracking-3px { letter-spacing: 3px; }
.tracking-4px { letter-spacing: 4px; }
.tracking-5px { letter-spacing: 5px; }
.tracking-6px { letter-spacing: 6px; }
.tracking-7px { letter-spacing: 7px; }
.tracking-8px { letter-spacing: 8px; }
