*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:#08111f;

font-family:Arial,sans-serif;

color:white;

}

.connection{

display:flex;

align-items:center;

margin:70px 0;

}

.node{

width:150px;

height:150px;

background:#111827;

border-radius:18px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

box-shadow:0 0 20px rgba(37,99,235,.3);

transition:.35s;

}

.node:hover{

transform:translateY(-8px);

}

.icon{

font-size:44px;

margin-bottom:15px;

}

.wire{

position:relative;

width:220px;

height:6px;

background:#334155;

border-radius:20px;

overflow:hidden;

margin:0 20px;

}

.packet{

position:absolute;

left:-18px;

top:-6px;

width:18px;

height:18px;

background:#22c55e;

border-radius:50%;

box-shadow:0 0 15px #22c55e;

animation:data 1.8s linear infinite;

}

.status{

display:flex;

align-items:center;

gap:12px;

font-size:18px;

}

.dot{

width:14px;

height:14px;

border-radius:50%;

background:#22c55e;

animation:pulse 1.5s infinite;

}

@keyframes data{

100%{

left:220px;

}

}

@keyframes pulse{

50%{

transform:scale(1.4);

opacity:.5;

}

}