/* Inset Inline Utilities - inset-inline */
.inset-inline-0 { inset-inline: 0rem; }
.start-i-0 { inset-inline-start: 0rem; }
.end-i-0 { inset-inline-end: 0rem; }
.inset-inline-1 { inset-inline: 1rem; }
.start-i-1 { inset-inline-start: 1rem; }
.end-i-1 { inset-inline-end: 1rem; }
.inset-inline-2 { inset-inline: 2rem; }
.start-i-2 { inset-inline-start: 2rem; }
.end-i-2 { inset-inline-end: 2rem; }
.inset-inline-3 { inset-inline: 3rem; }
.start-i-3 { inset-inline-start: 3rem; }
.end-i-3 { inset-inline-end: 3rem; }
.inset-inline-4 { inset-inline: 4rem; }
.start-i-4 { inset-inline-start: 4rem; }
.end-i-4 { inset-inline-end: 4rem; }
.inset-inline-5 { inset-inline: 5rem; }
.start-i-5 { inset-inline-start: 5rem; }
.end-i-5 { inset-inline-end: 5rem; }
.inset-inline-6 { inset-inline: 6rem; }
.start-i-6 { inset-inline-start: 6rem; }
.end-i-6 { inset-inline-end: 6rem; }
.inset-inline-7 { inset-inline: 7rem; }
.start-i-7 { inset-inline-start: 7rem; }
.end-i-7 { inset-inline-end: 7rem; }
.inset-inline-8 { inset-inline: 8rem; }
.start-i-8 { inset-inline-start: 8rem; }
.end-i-8 { inset-inline-end: 8rem; }
.inset-inline-9 { inset-inline: 9rem; }
.start-i-9 { inset-inline-start: 9rem; }
.end-i-9 { inset-inline-end: 9rem; }
.inset-inline-10 { inset-inline: 10rem; }
.start-i-10 { inset-inline-start: 10rem; }
.end-i-10 { inset-inline-end: 10rem; }
.inset-inline-11 { inset-inline: 11rem; }
.start-i-11 { inset-inline-start: 11rem; }
.end-i-11 { inset-inline-end: 11rem; }
.inset-inline-12 { inset-inline: 12rem; }
.start-i-12 { inset-inline-start: 12rem; }
.end-i-12 { inset-inline-end: 12rem; }
.inset-inline-13 { inset-inline: 13rem; }
.start-i-13 { inset-inline-start: 13rem; }
.end-i-13 { inset-inline-end: 13rem; }
.inset-inline-14 { inset-inline: 14rem; }
.start-i-14 { inset-inline-start: 14rem; }
.end-i-14 { inset-inline-end: 14rem; }
.inset-inline-15 { inset-inline: 15rem; }
.start-i-15 { inset-inline-start: 15rem; }
.end-i-15 { inset-inline-end: 15rem; }
.inset-inline-16 { inset-inline: 16rem; }
.start-i-16 { inset-inline-start: 16rem; }
.end-i-16 { inset-inline-end: 16rem; }
.inset-inline-17 { inset-inline: 17rem; }
.start-i-17 { inset-inline-start: 17rem; }
.end-i-17 { inset-inline-end: 17rem; }
.inset-inline-18 { inset-inline: 18rem; }
.start-i-18 { inset-inline-start: 18rem; }
.end-i-18 { inset-inline-end: 18rem; }
.inset-inline-19 { inset-inline: 19rem; }
.start-i-19 { inset-inline-start: 19rem; }
.end-i-19 { inset-inline-end: 19rem; }
.inset-inline-20 { inset-inline: 20rem; }
.start-i-20 { inset-inline-start: 20rem; }
.end-i-20 { inset-inline-end: 20rem; }
.inset-inline-21 { inset-inline: 21rem; }
.start-i-21 { inset-inline-start: 21rem; }
.end-i-21 { inset-inline-end: 21rem; }
.inset-inline-22 { inset-inline: 22rem; }
.start-i-22 { inset-inline-start: 22rem; }
.end-i-22 { inset-inline-end: 22rem; }
.inset-inline-23 { inset-inline: 23rem; }
.start-i-23 { inset-inline-start: 23rem; }
.end-i-23 { inset-inline-end: 23rem; }
.inset-inline-24 { inset-inline: 24rem; }
.start-i-24 { inset-inline-start: 24rem; }
.end-i-24 { inset-inline-end: 24rem; }
.inset-inline-25 { inset-inline: 25rem; }
.start-i-25 { inset-inline-start: 25rem; }
.end-i-25 { inset-inline-end: 25rem; }
.inset-inline-26 { inset-inline: 26rem; }
.start-i-26 { inset-inline-start: 26rem; }
.end-i-26 { inset-inline-end: 26rem; }
.inset-inline-27 { inset-inline: 27rem; }
.start-i-27 { inset-inline-start: 27rem; }
.end-i-27 { inset-inline-end: 27rem; }
.inset-inline-28 { inset-inline: 28rem; }
.start-i-28 { inset-inline-start: 28rem; }
.end-i-28 { inset-inline-end: 28rem; }
.inset-inline-29 { inset-inline: 29rem; }
.start-i-29 { inset-inline-start: 29rem; }
.end-i-29 { inset-inline-end: 29rem; }
.inset-inline-30 { inset-inline: 30rem; }
.start-i-30 { inset-inline-start: 30rem; }
.end-i-30 { inset-inline-end: 30rem; }
.inset-inline-31 { inset-inline: 31rem; }
.start-i-31 { inset-inline-start: 31rem; }
.end-i-31 { inset-inline-end: 31rem; }
.inset-inline-32 { inset-inline: 32rem; }
.start-i-32 { inset-inline-start: 32rem; }
.end-i-32 { inset-inline-end: 32rem; }
.inset-inline-33 { inset-inline: 33rem; }
.start-i-33 { inset-inline-start: 33rem; }
.end-i-33 { inset-inline-end: 33rem; }
.inset-inline-34 { inset-inline: 34rem; }
.start-i-34 { inset-inline-start: 34rem; }
.end-i-34 { inset-inline-end: 34rem; }
.inset-inline-35 { inset-inline: 35rem; }
.start-i-35 { inset-inline-start: 35rem; }
.end-i-35 { inset-inline-end: 35rem; }
.inset-inline-36 { inset-inline: 36rem; }
.start-i-36 { inset-inline-start: 36rem; }
.end-i-36 { inset-inline-end: 36rem; }
.inset-inline-37 { inset-inline: 37rem; }
.start-i-37 { inset-inline-start: 37rem; }
.end-i-37 { inset-inline-end: 37rem; }
.inset-inline-38 { inset-inline: 38rem; }
.start-i-38 { inset-inline-start: 38rem; }
.end-i-38 { inset-inline-end: 38rem; }
.inset-inline-39 { inset-inline: 39rem; }
.start-i-39 { inset-inline-start: 39rem; }
.end-i-39 { inset-inline-end: 39rem; }
.inset-inline-40 { inset-inline: 40rem; }
.start-i-40 { inset-inline-start: 40rem; }
.end-i-40 { inset-inline-end: 40rem; }
